.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 00%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/79fe83d4-7ef6-4181-9439-46db72599559/3941ce64-4089-4fbc-b34a-f9faa7209071/NG-en-20221017-popsignuptwoweeks-perspective_alpha_website_small.jpg');
  background-size: cover;
  object-fit: cover;
  position: relative;

  .register__top {
    .register__top-wrapper {
      padding: 10px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 80px;

        @media screen and (max-width: 468px) {
          height: 50px;
        }
      }

      .login-button {
        background-color: rgb(205, 5, 5, 1);
        border: none;
        color: #fff;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        cursor: pointer;
      }
      @media screen and (max-width: 468px) {
        padding: 0 10px;
      }
    }
  }

  .register__container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;

    h1 {
      font-size: 50px;
      @media screen and (max-width: 468px) {
        font-size: 24px;
        width: 100vw;
        word-wrap: break-word;
      }
    }

    h2 {
      margin: 20px;

      @media screen and (max-width: 468px) {
        font-size: 16px;
        margin: 10px;
        width: 100vw;
        word-wrap: break-word;
      }
    }

    p {
      font-size: 20px;

      @media screen and (max-width: 468px) {
        font-size: 16px;
        width: 100vw;
        word-wrap: break-word;
      }
    }

    .register__container-input {
      width: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      height: 50px;
      border-radius: 5px;

      input {
        flex: 9;

        height: 100%;
        border: none;
        padding: 0 10px;
        outline: none;
      }

      .registerButton {
        flex: 3;
        height: 100%;
        background-color: rgb(205, 5, 5, 1);
        border: none;
        color: #fff;
        font-size: 22px;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 468px) {
      width: 100vw;
    }
  }
}
