.navbar {
  color: #fff;
  font-size: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.5) 50%);

  &.scrolled {
    background: var(--main-color);
  }

  .navbar__container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;

    .navbar__container-left {
      display: flex;
      align-items: center;

      img {
        height: 85px;
        margin-right: 40px;
        @media screen and (max-width: 460px) {
          height: 60px;
        }
      }

      span {
        margin-right: 20px;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    .navbar__container-right {
      display: flex;
      align-items: center;

      .navbar__icon {
        margin: 0px 15px;
        cursor: pointer;
        @media screen and (max-width: 460px) {
          display: none;
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        object-fit: cover;
      }

      .navbar__profile {
        .navbar__profile-options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }

        span {
          padding: 10px;
          cursor: pointer;
        }

        &:hover {
          .navbar__profile-options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
      @media screen and (max-width: 460px) {
        span {
          display: none;
        }
      }
    }

    @media screen and (max-width: 460px) {
      padding: 0 10px;
    }
  }
}
